body {
    margin: 0;
    padding: 0;
    

}


.main-nav {
    color: grey;
    background-color: black;
    margin: 0;
    width: 100%;
    padding: 10px;
    position: fixed;
    font-family: sans-serif;

}

.sub-nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0px;

}

#nav-name{
    font-size:20px;
}

#name {
    font-size: 25px;
}

a:hover {
    color: darkcyan;
}

#theater-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
}

#theater-bg {
    width: 100%;
}

.month-name{
    margin:100px;
    font-size: 20px;
    background-color: lightgrey;
    padding:10px;
    border: 2px solid grey;
    margin-left: 300px;
    margin-right: 300px;

}

button{
    background-color: goldenrod;
    color:white;
    border: 1px solid grey;
    margin: 10px;
    padding: 15px;
    padding-left: 15px;
    padding-right:15px;
    margin-top: 30%;
    margin-left: 50%;
    font-size: 15px;
   
}

button:hover{
    color: grey;
}

.flexbox-con{
    display:flex;
    justify-content:space-between;
    border-bottom: 1px solid lightgrey;
    margin-left: 300px;
    margin-right: 300px;
    align-items: center;
    padding-bottom: 50px;


}

.flex-item{
    width:250px;
    height: 200px;
    margin:10px;
    
}

footer{
    background-color: black;
    color: white;
    height:300px;
    padding-top:50px;
    padding-bottom: 10%;
    font-family: sans-serif;
}

.flex-con2{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    align-items: top;
}

.flex2-item{
    width: 20%;
    height:70%;
}

.foot-heads{
    font-size: 25px;
}

.words{
    display: inline;
}